@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --shandy: hsl(47, 100%, 72%);
    --lusta: hsl(48, 100%, 98%);
    --aquamarine: hsl(146, 100%, 72%);
    --aero: hsl(146, 100%, 88%);
    --yourpink: hsl(0, 100%, 90%);
    --malibu: hsl(214, 100%, 72%);
    --onahau: hsl(214, 100%, 90%);
    --bitter: hsl(0, 100%, 72%);
    --heliotrope: hsl(261, 100%, 72%);
    --fog: hsl(261, 100%, 88%);
    --cod: hsl(0, 0%, 9%);
    --gallery: hsl(0, 0%, 92%);
    --silver: hsl(0, 0%, 75%);
    --background: white;
    --foreground: var(--cod);
    --card: white;
    --card-foreground: var(--cod);
    --popover: white;
    --popover-foreground: var(--cod);
    --primary: var(--cod);
    --primary-foreground: var(--gallery);
    --secondary: var(--gallery);
    --secondary-foreground: var(--cod);
    --muted: var(--gallery);
    --muted-foreground: var(--silver);
    --accent: hsl(0 0% 96.1%);
    --accent-foreground: hsl(0 0% 9%);
    --destructive: var(--bitter);
    --destructive-foreground: var(--yourpink);
    --border: hsl(0 0% 89.8%);
    --input: hsl(0 0% 89.8%);
    --ring: hsl(0 0% 3.9%);
    --info: var(--malibu);
    --info-foreground: var(--onahau);
    --success: var(--aquamarine);
    --success-foreground: var(--aero);
    --warning: var(--shandy);
    --warning-foreground: var(--lusta);
    --chart-1: var(--shandy);
    --chart-2: var(--aquamarine);
    --chart-3: var(--malibu);
    --chart-4: var(--heliotrope);
    --chart-5: var(--bitter);
    --radius: 0.5rem;
  }

  .dark {


    --background: var(--cod);
    --foreground: white;
    --card: var(--cod);
    --card-foreground: white;
    --popover: var(--cod);
    --popover-foreground: white;
    --primary: white;
    --primary-foreground: var(--cod);
    --secondary: var(--cod);
    --secondary-foreground: var(--gallery);
    --muted: var(--silver);
    --muted-foreground: var(--gallery);
    --accent: hsl(0 0% 14.9%);
    --accent-foreground: hsl(0 0% 98%);
    --destructive: var(--bitter);
    --destructive-foreground: var(--yourpink);
    --border: hsl(0 0% 14.9%);
    --input: hsl(0 0% 14.9%);
    --ring: hsl(0 0% 83.1%);
    --info: var(--malibu);
    --info-foreground: var(--onahau);
    --success: var(--aquamarine);
    --success-foreground: var(--aero);
    --warning: var(--shandy);
    --warning-foreground: var(--lusta);
    --chart-1: var(--shandy);
    --chart-2: var(--aquamarine);
    --chart-3: var(--malibu);
    --chart-4: var(--heliotrope);
    --chart-5: var(--bitter);
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 9999px;
}


::-webkit-scrollbar-track {
  background: var(--gallery);
  border-radius: 9999px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 50%);
  border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 30%)
}